extends layout

block content
  h1= title
  p Admin Panel for #[em Sproute]


  h1 Records

  if error
    p Error getting dynamic content.
  else

    p The library has the following record counts:

    ul
      li #[strong Plants:] !{data.plant_count}
      li #[strong Clippings:] !{data.clipping_count}
      li #[strong Speciess:] !{data.species_count}