extends layout

block content

  h1 #{title}: #{plant.title}

    p Do you really want to delete this Plant?
    
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=plant._id )

      button.btn.btn-primary(type='submit') Delete